
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');


.body{
    background-color: black;
}
.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.secao-formulario{
    display: flex;
    flex-direction: column;
    height: 80%;
    
}

.cabecalho-form{
    height: 30%;
    background-color: rgb(145, 147, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.cabecalho-titulo {
    font-family: 'MuseoModerno', cursive;
    font-size: 50px;

}
.icone-form {
    font-size: 70pt;
    align-self: flex-end;
    margin: 10px;
}

.container-formulario{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    background-color: aliceblue;
}

.input{
    border: none;
    background-color: silver;
    padding: 10px;
}

.label-nome{
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}

.input-nome {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
   
}

.label-rg{
    grid-column: 1 / 2;
    grid-row: 4 / 5;

}

.input-rg{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}



.label-cpf{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.input-cpf{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}


.label-email{
    grid-column: 1 /2;
    grid-row: 7 / 8;    
}

.input-email{
    grid-column: 1/ 2;
    grid-row: 8 / 9;
}


.label-telefone{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

.input-telefone{
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    
}



.botao-salvar{
    grid-column: 1 / 3;
    grid-row: 10 / 11;
    width: 20%; 
    justify-self: center;

}
